form button {
  position: relative;
  cursor: pointer;
  background: #ccc;
  margin: 10px 0 0 0;
}
form:invalid button::after {
  position: absolute;
  padding-left: 20px;
  content: 'form:invalid';
  color: red;
  white-space: nowrap;
}
[role='alert'] {
  color: red;
}
input:valid {
  border: 1px solid green;
}
input:invalid {
  border: 1px solid red;
}
.is-validating {
  background: #eee;
  border: 1px solid yellow;
}
.is-valid {
  background-color: rgba(0, 128, 0, 0.1);
}
.is-invalid {
  border: 1px solid rgba(255, 0, 0, 0.1);
}
pre {
  background: #eee;
}
section {
  padding: 10px;
  border-bottom: 1px solid gray;
}
